@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');

/* Perdon , no llegue a hacerlo responsive ni agregarle muchos detalles , se me complico y termine a ultima hora */


:root{
    --logocolor: #5C00F0; 
    --letrascolor: #ffffff;
    --backgroundcolor: #06010E;
}



*{
    margin: 0 ; 
    padding: 0 ;
    box-sizing: border-box;
    font-family: "Poppins" , monospace , sans-serif;
    text-decoration: none;
    list-style-type: none;
}


header{
    background: var(--backgroundcolor);
    background: linear-gradient(to bottom ,#000000 10%,#06010E 50%,#1C083D);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 30px;
    position: fixed;
    z-index: 2;
}

html{
    width:100%;
    z-index: 1;
}

.logo{
    height: 90%;
}



.navbar
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}



.navbar{
    gap: 100px;
    padding: 0px 50px 0px 0px;
}



.navbar-list{
    gap: 80px;
}



.navbar-list a{
    color: var(--letrascolor);
    font-size: 16px;
    font-weight: 600;
}



.main-bg{
    background-color: #1C083D;


}



#hero {
    padding: 120px 0px 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   
}



.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    padding-left: 75px;
}



.hero-info h1{
    color: #ffffff;
    font-size: 40px;
    width: 80%;
    font-weight: 800px;
    padding: 0px 0px 10px 45px;
}



.hero-info p{
    color: #ffffff;
    font-size: 14px;
    width: 70%;
    padding: 0px 0px 20px 45px;
    
}



.buttoms{
    display: flex;
    width: 100%;
    padding-right: 12rem;
    justify-content: space-evenly;
    gap: 15px;
  
}



.buttom-contactame{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #8a2be2;
    width: 110px;
    padding: 8px 8px;
    border-radius: 150px;
    font-size: 14px;
    
}



.buttom-sabermas{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: blueviolet;
    width: 95px;
    padding: 8px 8px;
    border-radius: 15px;
    font-size: 14px;
    
}



.hero-info a{
    color: #ffffff;

}

.img-container{
    
    
}

.hero-img{
    width: 90%;
}



.wpp{
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 50px;
    left: 50px;
}



#mi-info{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 17px;
    font-weight: 400;
    margin: auto;
    text-align: center;
}



#mi-info h2{
    color: #ffffff;
    padding: 0px 0px 30px 0px;
    font-size: 30px;
    font-weight: 800;
}



#mi-info p{
    color: #ffffff;
    letter-spacing: 0.5px;
}

/* Ventajas */

#ventajas{
    padding: 0 20px 0 20px;
}

#ventajas h2{
    padding-top: 7rem;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 2rem;
}


#ventajas p{
    font-size: 17px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
}





.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5rem;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
    border: 5px solid #ff00c8 ;
    border-radius: 3rem;
    gap: 1rem;
    height: 30rem;
}


.card img{
    padding-top: 2rem;
}


.card h3{
    color: #ffffff;
    font-size: 25px;
}


.card p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    width: 70%;
    padding-bottom: 2rem;
}



/* FORMULARIOS */

#contacto{
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-left: 7rem ;
    
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario h2{
    text-align: center;
    font-size: 29px;
    margin-bottom: 7%;
    color: white;
}




.formulario label{
    font-size: 20px;
    color: white;
}

.formulario input{
    border: #ff00c8 3px solid;
    border-radius: 0.5rem;
    width: 20rem;
    
}

.submit{
    font-weight: 600;

}

.formulario textarea{
    border: #ff00c8 3px solid;
    border-radius: 0.5rem;
    width: 20rem;
    padding: 0.5% 1%;
}


.form-container{
    display: flex;
}


.home-container{
    display: flex;
    flex-direction: column;
}

.home-container h3{
    padding-top: 5rem;
    padding-bottom: 5rem ;
    color: white;
    text-align: center;
    font-size: 30px;
}

.home{
    width: 90%;
}

.submit{
    color: #ffffff;
    background-color: #8a2be2;
    width: 120px;
    padding: 8px 8px;
    border-radius: 150px;
    font-size: 14px;
    text-align: center;
}


.footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,#1C083D 20%,#06010E );
    color: white;
    padding-top: 2%;
}

.logos{
    gap: 2rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo img{
    width: 5rem;
    padding-bottom: 2rem;
}

.footer-h4{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.footer-end{
    display: flex;
    justify-content: space-around;
}


.logo-footer{
    width: 3rem;
}


.linea {
    border-top: 1px solid #ff00c8;
    height: 2px;
    padding: 0;
    margin: 3rem auto 3rem auto;
  }

 

 /* Oculto el menu hamburguesa */

 .menu-label,
 #menu-toggle {
    display: none;
 }

